{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false,
  "parser": "typescript",
  "printWidth": 100,
  "proseWrap": "never",
  "requirePragma": false
}
